@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: relative;
  height: 119px;
  display: flex;
  background-color: #F2E7DC;
  justify-content: space-between;
}
.navbar > img {
  width: 150px;
  height: 119px;
  margin-left: 60px;
  order: 1 !important;
  -webkit-animation-name: spread;
          animation-name: spread;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.navbar > .fa-bars {
  display: none;
}
.navbar > ul {
  height: 100%;
  display: flex;
  list-style: none;
  order: 3 !important;
}
.navbar > ul > li {
  position: relative;
}
.navbar > ul > li > a {
  display: block;
  padding-top: 47px;
  text-decoration: none;
  color: #735B46;
  font-size: 24px;
  font-family: "Source Serif Pro", serif;
  padding-inline: 40px;
}
.navbar > ul > li > ul {
  display: none;
  position: absolute;
  background-color: #F2E7DC;
  list-style: none;
  left: 35px;
  width: 180px;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  z-index: 100;
  transition: 1s;
}
.navbar > ul > li > ul li > a {
  display: block;
  text-decoration: none;
  color: #735B46;
  font-size: 24px;
  font-family: "Source Serif Pro", serif;
  padding-top: 47px;
}
.navbar > ul > li:hover ul {
  display: block;
}

@media (max-width: 812px) {
  .navbar > ul {
    display: block;
    position: fixed;
    flex-direction: column;
    background-color: #F2E7DC;
    z-index: 100;
    width: 175px;
    height: 100vh;
    left: -500px;
    padding-top: 90px;
    box-shadow: 6px 7px 15px 5px rgba(115, 91, 70, 0.52);
    transition: 1s;
  }
  .navbar > ul > li > ul {
    left: 100%;
    top: -48px;
    box-shadow: 6px 6px 5px 7px rgba(115, 91, 70, 0.52);
  }
  .navbar > .fa-bars {
    display: block;
    font-size: 52px;
    color: #735B46;
    padding: 35px 25px;
  }
  .navbar {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
  }
  .navbar > .fa-bars:hover + ul {
    left: 0px;
  }
  .navbar > ul:hover {
    left: 0;
  }
  .head {
    margin-top: 118px;
  }
}
@media (max-width: 450px) {
  .navbar > ul {
    width: 50vw;
  }
  .navbar > ul > li > ul {
    width: 50vw;
  }
}
@-webkit-keyframes spread {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spread {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main {
  position: relative;
}

.fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
}

.cards .card2 p, .cards .card1 p {
  grid-area: parraf;
  display: block;
  padding: 5px;
  font-family: "Source Serif Pro", serif;
  font-size: 24px;
  text-align: justify;
}

.cards .card2 a, .cards .card1 a {
  grid-area: btn;
  width: 170px;
  height: 40px;
  text-decoration: none;
  font-size: 20px;
  color: #735B46;
  background-color: #F2E7DC;
  border-radius: 7px;
  padding: 7px;
  justify-self: center;
  text-align: center;
  margin-bottom: 5px;
}

.titles {
  display: block;
  position: absolute;
  font-family: "Source Serif Pro", serif;
  font-size: 40px;
  font-weight: 400;
  color: #735B46;
  text-align: center;
  margin-top: 20px;
}

.titleTurnos {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.head {
  display: flex;
  flex-direction: column;
  height: 350px;
  background-image: url(../img/estetica2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 860px) {
  .head {
    height: 200px;
  }
}
.head div {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.head div h1 {
  display: block;
  width: 650px;
  height: 80px;
  color: white;
  font-family: "Source Serif Pro", serif;
  font-weight: 200;
  font-size: 64px;
  text-align: center;
}
@media (max-width: 480px) {
  .head div h1 {
    font-size: 44px;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards .card1 {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr 1fr 80px;
  grid-template-areas: "img parraf" "img parraf" "img btn";
  height: 600px;
  margin: 80px 20px 50px 20px;
}
@media (max-width: 860px) {
  .cards .card1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 80px;
    grid-template-areas: "img img" "parraf parraf" "btn btn";
    align-items: center;
    height: auto;
  }
}
@media (max-width: 460px) {
  .cards .card1 {
    margin: 15px;
  }
}
.cards .card1 img {
  grid-area: img;
  width: 380px;
  height: 100%;
  padding: 5px;
  justify-self: center;
}
@media (max-width: 860px) {
  .cards .card1 img {
    width: 320px;
    height: 450px;
    justify-self: center;
    margin: auto;
  }
}
@media (max-width: 1290px) {
  .cards .card1 p {
    font-size: 16px;
  }
}
.cards .card1 a {
  align-self: flex-end;
}
@media (max-width: 860px) {
  .cards .card1 a {
    width: 320px;
  }
}
.cards .card2 {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 80px;
  grid-template-areas: "parraf img" "parraf img" "btn    img";
  height: 500px;
  margin: 80px 20px 50px 20px;
}
@media (max-width: 860px) {
  .cards .card2 {
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 80px;
    grid-template-areas: "img img" "parraf parraf" "btn btn";
    align-items: center;
    height: auto;
  }
}
.cards .card2 img {
  grid-area: img;
  width: 480px;
  height: 100%;
  padding: 5px 5px 5px 55px;
  justify-self: center;
}
@media (max-width: 860px) {
  .cards .card2 img {
    width: 320px;
    height: 450px;
    justify-self: center;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
  }
}
@media (max-width: 1290px) {
  .cards .card2 p {
    font-size: 16px;
  }
}
.cards .card2 a {
  align-self: center;
}
@media (max-width: 860px) {
  .cards .card2 a {
    width: 320px;
  }
}

.headPages {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1200px) {
  .headPages {
    height: 40vh;
  }
}
@media (max-width: 812px) {
  .headPages {
    margin-top: 112px;
  }
}
@media (max-width: 600px) {
  .headPages {
    height: 30vh;
  }
}
.headPages > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.headPages > div > img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
}

.serviceSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serviceDiv1 {
  position: relative;
  width: 100%;
  margin: 0 30px 40px 30px;
  padding: 30px;
  text-align: justify;
}
.serviceDiv1 h2 {
  display: block;
  width: 100%;
  height: 65px;
  font-size: 48px;
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (max-width: 942px) {
  .serviceDiv1 h2 {
    font-size: 36px;
    margin-top: 0;
    height: 10vh;
  }
}
@media (max-width: 450px) {
  .serviceDiv1 h2 {
    font-size: 30px;
    height: 10vh;
  }
}
.serviceDiv1 p {
  display: block;
  width: 100%;
  font-family: "Source Serif Pro", serif;
  font-size: 18px;
  margin-bottom: 30px;
}

.serviceDiv2 {
  position: relative;
  margin-bottom: 80px;
}
.serviceDiv2 iframe {
  width: 80vw;
  height: 60vh;
}
@media (max-width: 960px) {
  .serviceDiv2 iframe {
    height: 40vh;
  }
}
@media (max-width: 812px) {
  .serviceDiv2 iframe {
    width: 100vw;
    height: 38vh;
  }
}

.serviceDiv3 {
  position: relative;
  width: 100%;
  margin: 0 30px 40px 30px;
  padding: 30px;
  text-align: justify;
}
.serviceDiv3 h3, .serviceDiv3 h2 {
  display: block;
  width: 100%;
  height: 65px;
  font-weight: 400;
  font-family: "Source Serif Pro", serif;
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 942px) {
  .serviceDiv3 h3, .serviceDiv3 h2 {
    font-size: 36px;
    margin-top: 0;
    height: 10vh;
  }
}
@media (max-width: 450px) {
  .serviceDiv3 h3, .serviceDiv3 h2 {
    font-size: 30px;
    height: 10vh;
  }
}
.serviceDiv3 ul {
  width: 100%;
  list-style-position: inside;
  font-family: "Source Serif Pro", serif;
  font-size: 18px;
  margin-bottom: 30px;
}
.serviceDiv3 ul li {
  padding: 10px;
}
.serviceDiv3 p {
  width: 100%;
  font-family: "Source Serif Pro", serif;
  font-size: 18px;
}

.serviceDiv4 {
  width: 100%;
  margin: 0 30px 80px 30px;
  padding: 30px;
  text-align: justify;
}
.serviceDiv4 h4, .serviceDiv4 h3 {
  width: 100%;
  height: 65px;
  font-weight: 400;
  font-family: "Source Serif Pro", serif;
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 942px) {
  .serviceDiv4 h4, .serviceDiv4 h3 {
    font-size: 36px;
    margin-top: 0;
    height: 10vh;
  }
}
@media (max-width: 450px) {
  .serviceDiv4 h4, .serviceDiv4 h3 {
    font-size: 30px;
    height: 10vh;
  }
}
.serviceDiv4 p {
  width: 100%;
  font-family: "Source Serif Pro", serif;
  font-size: 18px;
  margin-bottom: 30px;
}

.serviceOndas {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}
.serviceOndas h3 {
  display: block;
  width: 100%;
  height: 65px;
  font-weight: 400;
  font-family: "Source Serif Pro", serif;
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 942px) {
  .serviceOndas h3 {
    font-size: 36px;
    margin-top: 0;
    height: 10vh;
  }
}
@media (max-width: 450px) {
  .serviceOndas h3 {
    font-size: 30px;
    height: 10vh;
  }
}
.serviceOndas div {
  width: 100vw;
  height: 100%;
  display: flex;
  margin: auto;
  margin-bottom: 40px;
}
.serviceOndas div ul {
  list-style-position: inside;
  font-family: "Source Serif Pro", serif;
  font-size: 18px;
}
.serviceOndas div ul li {
  padding: 10px;
}
.serviceOndas div .list1 {
  width: 40%;
}
.serviceOndas div .list2 {
  width: 60%;
}
.serviceOndas p {
  width: 100vw;
  font-family: "Source Serif Pro", serif;
  font-size: 18px;
  text-align: justify;
  padding: 10px;
}
@media (max-width: 812px) {
  .serviceOndas > div {
    flex-direction: column;
  }
  .serviceOndas > div .list1, .serviceOndas > div .list2 {
    width: 100vw;
  }
}

.headVacum__fondo {
  background-image: url(../img/vacumterapia1.jpg);
}

.headOndas__fondo {
  background-image: url(../img/ondasRusas.jpg);
}

.headMasaj__fondo {
  background-image: url(../img/masajes.jpg);
}

.masajAbdomen {
  position: relative;
  width: 90vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media (max-width: 812px) {
  .masajAbdomen {
    height: 100%;
  }
}
.masajAbdomen h3 {
  display: block;
  width: 100%;
  font-family: "Source Serif Pro", serif;
  font-size: 30px;
  text-align: center;
  margin: 20px 0 20px 0;
}
@media (max-width: 812px) {
  .masajAbdomen h3 {
    font-size: 24px;
  }
}
.masajAbdomen section {
  width: 100%;
  height: 400px;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
}
.masajAbdomen section div {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
@media (max-width: 1320px) {
  .masajAbdomen section div {
    padding: 15px;
  }
}
.masajAbdomen section div ol {
  height: 100%;
  list-style-position: inside;
  text-align: justify;
  margin-bottom: 10px;
}
.masajAbdomen section div ol li {
  padding: 10px;
}
.masajAbdomen section div ol li ul {
  list-style: none;
  margin-left: 80px;
  margin: 30px;
}
.masajAbdomen section div img {
  width: 650px;
  height: 190px;
}
@media (max-width: 1320px) {
  .masajAbdomen section div img {
    width: 100%;
  }
}
@media (max-width: 812px) {
  .masajAbdomen section {
    height: 100vh;
    flex-direction: column;
    align-items: center;
  }
  .masajAbdomen section div {
    width: 90vw;
    height: 40vh;
  }
}

.headTurnos {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 812px) {
  .headTurnos {
    margin-top: 120px;
  }
}

.turn__ondas__title {
  background-image: url(../img/ondasRusasTurn.jpg);
}

.turn__masaj__title {
  background-image: url(../img/esteticaTurn.jpg);
}

.turn__vacum__title {
  background-image: url(../img/vacumTurn.jpg);
}

.turn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.turn > div {
  width: 603px;
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 200px;
}
@media (max-width: 692px) {
  .turn > div {
    width: vw;
    margin: 0;
    margin-bottom: 90px;
  }
}
.turn > div div {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.turn > div div h2 {
  display: block;
  width: 300px;
  height: 38px;
  font-family: "Source Serif Pro", serif;
  color: white;
  font-weight: 400;
  text-align: center;
}
.turn > div div h4 {
  width: 100%;
  font-family: "Source Serif Pro", serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin: 30px 0px 30px 0px;
}
.turn > div table {
  border-collapse: collapse;
}
.turn > div table th {
  background-color: #735B46;
  color: white;
  border: solid white;
  font-family: "Source Serif Pro", serif;
  font-size: 30px;
  text-align: center;
  width: 300px;
}
.turn > div table td {
  background-color: #FFDAC5;
  color: #735B46;
  width: 300px;
  border: solid 1px;
  font-family: "Source Serif Pro", serif;
  font-size: 24px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 600px;
  height: 800px;
  padding: 10px;
  margin: 50px;
}
.form > label {
  font-family: "Source Serif Pro", serif;
  font-size: 24px;
  color: #735B46;
}
.form > label > input {
  justify-content: center;
  display: block;
  margin: 10px 0px;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 7px;
  background-color: #F2E7DC;
  padding: 5px;
  color: #735B46;
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
}
.form > textarea {
  display: block;
  border: none;
  border-radius: 7px;
  background-color: #F2E7DC;
  padding: 5px;
  color: #735B46;
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
  width: 100%;
  height: 200px;
}
.form div {
  display: flex;
  justify-content: space-evenly;
}
.form div input {
  border: none;
  background-color: #F2E7DC;
  display: block;
  width: 200px;
  height: 40px;
  font-family: "Source Serif Pro", serif;
  font-size: 24px;
  text-align: center;
  color: #735B46;
}

@media (max-width: 550px) {
  .form {
    margin: 0;
    height: 800px;
  }
  .form > div {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .form > div > input {
    margin: 20px;
    width: 100%;
  }
}
@media (max-width: 430px) {
  .form {
    width: 100vw;
  }
}
#selector {
  justify-content: center;
  display: block;
  margin: 10px 0px;
  width: 30%;
  height: 30px;
  border: none;
  border-radius: 7px;
  background-color: #F2E7DC;
  padding: 5px;
  color: #735B46;
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
}

.sectionContac {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 1036px) {
  .sectionContac {
    flex-wrap: wrap;
  }
}

.divLocation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 800px;
  height: 800px;
  margin: 50px;
  padding: 10px;
}
@media (max-width: 550px) {
  .divLocation {
    width: 100vw;
    margin: 0;
    height: 60vh;
  }
}
.divLocation h2 {
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Source Serif Pro", serif;
  font-size: 40px;
  color: #735B46;
}
.divLocation iframe {
  width: 100%;
  height: 600px;
  border-color: #FFDAC5;
}
.divLocation p {
  display: block;
  text-align: center;
}

.foot {
  background-color: #6F7370;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
}
.foot section {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.foot section .sub1 {
  list-style: none;
  padding: 10px;
}
.foot section .sub2 {
  list-style: none;
  padding: 10px;
}
.foot section ul li a {
  display: block;
  padding: 7px;
  text-decoration: none;
  font-family: "Source Serif Pro", serif;
  font-size: 14px;
  color: white;
}
.foot div {
  padding: 35px;
}
.foot div img {
  width: 50px;
  height: 50px;
  margin-left: 30px;
}

@media (max-width: 812px) {
  .foot > section {
    display: none;
  }
  .foot {
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */