.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    .card1{
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 1fr 1fr 80px;
        grid-template-areas: "img parraf"
                             "img parraf"
                             "img btn";
        height: 600px;
        margin: 80px 20px 50px 20px;

        @media(max-width:860px){
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 80px;
            grid-template-areas: "img img"
                                 "parraf parraf"
                                 "btn btn";
            align-items: center;
            height: auto;                     
        }
        @media(max-width:460px){
            margin: 15px
        }

        img{
            @include imagenCard(380px,5px);
            @media(max-width:860px){
                width: 320px;
                height: 450px;
                justify-self: center;
                margin: auto;
            }
        }
        p{
            @extend %parrafo;
            @media(max-width:1290px){
                font-size: 16px;
            } 
        }
        a{
            @extend %boton;
            align-self: flex-end;
            @media(max-width:860px){
                width: 320px;
            }
        }
    }
    .card2{
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        grid-template-rows: 1fr 1fr 80px;
        grid-template-areas: "parraf img"
                             "parraf img"
                             "btn    img";
        height: 500px;
        margin: 80px 20px 50px 20px;
        @media(max-width:860px){
            grid-template-columns: 0.5fr 1fr;
            grid-template-rows: 1fr 1fr 80px;
            grid-template-areas: "img img"
                                 "parraf parraf"
                                 "btn btn";
            align-items: center;
            height: auto;                     
        }
        img{
            @include imagenCard(480px, 5px 5px 5px 55px);
            @media(max-width:860px){
                width: 320px;
                height: 450px;
                justify-self: center;
                margin: auto;
                margin-bottom: 20px;
                padding: 5px;
            }
        }
        p{
            @extend %parrafo;
            @media(max-width:1290px){
                font-size: 16px;
            }
        }
        a{
            @extend %boton;
            align-self: center;
            @media(max-width:860px){
                width: 320px;
            }
        }
    }
}


