.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 600px;
    height: 800px;
    padding: 10px;
    margin: 50px;
    > label{
        font-family: 'Source Serif Pro', serif;
        font-size: 24px;
        color: #735B46;
        > input{
            justify-content: center;
            display: block;
            margin: 10px 0px;
            width: 100%;
            height: 30px;
            border: none;
            border-radius: 7px;
            background-color: #F2E7DC;
            padding: 5px;
            color: #735B46;
            font-family: 'Source Serif Pro', serif;
            font-size: 20px;
        }
    }
    > textarea{
            display: block;
            border: none;
            border-radius: 7px;
            background-color: #F2E7DC;
            padding: 5px;
            color: #735B46;
            font-family: 'Source Serif Pro', serif;
            font-size: 20px;
            width: 100%;
            height: 200px;
    }
    div{
        display: flex;
        justify-content: space-evenly;
        input{
            border: none;
            background-color: #F2E7DC;
            display: block;
            width: 200px;
            height: 40px;
            font-family: 'Source Serif Pro', serif;
            font-size: 24px;
            text-align: center;
            color: #735B46;
            }
         
        }
}
    

@media(max-width:550px){
    .form{
        margin: 0;
        height: 800px;
    }
    .form > div{
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly ;
    }
    .form > div > input{
        margin: 20px;
        width: 100%;
   }
}

@media(max-width:430px){
    .form{
        width: 100vw;
    }
}

#selector{
    justify-content: center;
    display: block;
    margin: 10px 0px;
    width: 30%;
    height: 30px;
    border: none;
    border-radius: 7px;
    background-color: #F2E7DC;
    padding: 5px;
    color: #735B46;
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
}


