.masajAbdomen{
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    @media(max-width:812px){
        height: 100%;
    }
    h3{
        display: block;
        width: 100%;
        font-family: 'Source Serif Pro', serif;
        font-size: 30px;
        text-align: center;
        margin: 20px;
        @media(max-width:812px){
            font-size: 24px;
        }
    }
    section{
        width: 100%;
        height: 300px;
        padding: 5px;
        display: flex;
        justify-content: space-evenly;
        
        div{
            width: 660px;
            display: flex;
            flex-direction: column;
            padding: 5px;
            @media(max-width:1320px){
                width: 60vw;
                padding: 15px;
            }
            ol{
                height: 100px;
                list-style-position: inside;
                text-align: justify;
                margin-bottom: 10px;
                @media(max-width:812px){
                    height: 90vh;
                }
                li{
                    padding: 10px;
                    ul{
                    list-style: none;
                    margin-left: 80px;
                    margin: 30px;
                    }
                }
            }
            img{
            width: 650px;
            height: 190px;
            @media(max-width: 1320px){
                width: 60vw;
            }
        }
        }
        @media(max-width:812px){
            height: 100vh;
            flex-direction: column;
            align-items: center;
            div{
                width: 90vw;
                height: 40vh;
            }
        }
    }
}