.headPages{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(max-width:1200px){
        height: 40vh;
    }
    @media(max-width:812px){
    
        margin-top: 112px;
    }
    @media(max-width:600px){
        height: 30vh;
    }
    > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        > img{
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: 80px;
        }
    }

    
    }