.headPages{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        > img{
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: 80px;
        }
    }
    
    }