.navbar{
    position: relative;
    height: 119px;
    display: flex;
    background-color: #F2E7DC;
    justify-content: space-between;
    > img{
        width: 150px;
        height: 119px;
        margin-left: 60px;
        order: 1 !important;
        animation-name: spread;
        animation-duration: 3s;
    }
    > .fa-bars{
        display: none;
        order: 2 !important;
    }
    #clima{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 550px;
        height: 100%;
        align-self: center;
        order: 3 !important;
        font-size: 20px;
        color: #735B46;
        padding: 15px;
    }
    > ul{
        height: 100%;
        display: flex;
        list-style: none;
        order: 4 !important;
        > li{
            position: relative;
            > a{
                display: block;
                padding-top: 47px;
                text-decoration: none;
                color: #735B46;
                font-size: 24px;
                font-family: 'Source Serif Pro', serif;
                padding-inline: 40px;
                
            }
            > ul{
                display: none;
                position: absolute;
                background-color: #F2E7DC;
                list-style: none;
                left: 35px;
                width: 180px;
                padding-top: 10px;
                padding-left: 5px;
                padding-bottom: 10px;
                z-index: 100;
                transition: 1s;
                li > a{
                    display: block;
                    text-decoration: none;
                    color: #735B46;
                    font-size: 24px;
                    font-family: 'Source Serif Pro', serif;
                    padding-top: 47px;
                    
                
                }
            }
        }
        > li:hover ul{
            display: block;
        }
        
        
    }
}
@media(max-width:812px){
    .navbar 
        > ul{
            display: block;
            position: fixed;
            flex-direction:  column;
            background-color: #F2E7DC;
            z-index: 100;
            width: 175px;
            height: 100vh;
            left: -500px;
            padding-top: 90px;
            box-shadow: 6px 7px 15px 5px rgba(115,91,70,0.52);
            transition: 1s;
            > li > ul{
                left: 100%;
                top: -48px;
                box-shadow: 6px 6px 5px 7px rgba(115,91,70,0.52);
            }
        }
    .navbar > .fa-bars{
        display: block;
        font-size: 52px;
        color: #735B46;
        padding: 35px 25px;
        
    }
    .navbar{
        width: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
    }
    .navbar > .fa-bars:hover + ul{
        left: 0px;
    }
    .navbar > ul:hover{
        left: 0;
    }
    .head{
        margin-top: 118px;
    }
}

@media (max-width:450px){
    .navbar > ul{
            width: 50vw;
            > li > ul{
            width: 50vw;
            }
    }

}

@keyframes spread{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.parrafo_agregado{
    margin: 10px;
}

