.navbar{
    position: relative;
    display: flex;
    width: 100%;
    height: 119px;
    background-color: #F2E7DC;
    > img{
        width: 150px;
        height: 119px;
        justify-content: left;
        margin-left: 88px;
    }
    > ul{
        position: absolute;
        height: 100%;
        display: flex;
        list-style: none;
        right: 135px;
    }
}
