.serviceDiv3{
    position: relative;
    width: 100%;
    margin: 0 30px 40px 30px;
    padding: 30px;
    text-align: justify;
    h3, h2{
        display: block;
        width: 100%;
        height: 65px;
        font-weight: 400;
        font-family: 'Source Serif Pro', serif;
        font-size: 48px;
        text-align: center;
        margin-bottom: 20px;
        @media(max-width:942px){
            font-size: 36px;
            margin-top: 0;
            height: 10vh;
        }
        @media(max-width:450px){
            font-size: 30px;
            height: 10vh;
        } 
    }
    ul{
        width: 100%;
        list-style-position: inside;
        font-family: 'Source Serif Pro', serif;
        font-size: 18px;
        margin-bottom: 30px;
        li{
            padding: 10px;
        }
    }
    p{
        width: 100%;
        font-family: 'Source Serif Pro', serif;
        font-size: 18px;
    }
}