.titles{
    display: block;
    position: absolute;
    font-family: 'Source Serif Pro', serif;
    font-size: 40px;
    font-weight: 400;
    color: #735B46;
    text-align: center;
    margin-top: 20px;
}

.titleTurnos{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}