*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import "navegador";
@import "imagenFondo";
@import "titles";
@import "headPages";
@import "sectionPages";
@import "serviceDiv1";
@import "serviceDiv2";
@import "serviceDiv3";
@import "serviceDiv4";
@import "serviceOndas";
@import "fondoVacum";
@import "fondoOndas";
@import "fondoMasaje";
@import "fotosMasajes";
@import "headerTurnosContacto";
@import "fondoOndasTurnos";
@import "fondoMasajeTurnos";
@import "fondoVacumTurnos";
@import "tablas";
@import "formulario";
@import "mainContacto";
@import "map";
@import "footer";




